
/* Your Quesionnaries */
.bg {
    background-color:#F7F7F7;
    height: 120vh;
}

.profile-fill {
    border:1px solid #fff;
    width: 280px;
    height:476px;
    background-color:#fff;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 320px;
    box-shadow: 0px 5px 10px #f4bbca;
}   

.heading1 {
    border: 1px solid #fff;
    margin-top: 18px;
    margin-left:20px;
    margin-right: 20px;
}

.heading1 p {
    height: 56px;
    opacity:0.87;
    font-family: Roboto;
    font-size:24px;
    font-weight: 400;
    line-height:28px;
    padding-left: 6px;
}

.options {
    width:240px;
    height:252px;
    margin-bottom: 40px;
    margin-left: 20px;
}

.secure {
    text-align: left;
    background-color: rgba(217,39,86,0.05);
    color: #000;
    font-size: 16px;
    opacity:0.87;
    margin-bottom: 10px;
    margin-top: 30px;
    letter-spacing: 0px;
    padding-left: 1rem;
}

 button {
    height: 45px;
    width:238px;
    border-radius: 50px;
    margin-top:5%;
    background-color: #D92756;
    color:#fff;
    font-size: 14px;
    letter-spacing: 1.25px;
    border:none;
    font-weight: 450;
    font-family: Roboto;
    position: relative;
 }

.opt {
    text-align: left;
    padding-left: 1rem;
    margin-bottom:15px;
    padding-top:12px;
    background-color: #fff;
    color: #000;
    font-size:16px;
    letter-spacing: 0px;
    font-weight: none;
    opacity: 0.87;
    border-radius: 0px;
}



.newquest button {
    box-shadow: 0px 5px 10px #f4bbca;
}

.one {
    font-size:36px;
    position: absolute;
    /* padding-left: 1.7rem; */
    padding-left:30%;
    padding-bottom: 15rem;
    margin-top: -0.5rem;
}   
 
.two {
    font-size:36px;
    position: absolute;
    /* padding-left: 2.5rem; */
    padding-left: 37%;
    padding-bottom: 15rem;
    margin-top: -0.5rem;
}   


/* Questionnaire  */

.Quesionnarie-container {

    background-color: #fff;
    margin-top: -480px;
    margin-right: 320px;
    /* border:#000 1px solid; */
    border-radius: 20px;
    height: 956px;
    width: 880px;
    float: right;
    position: relative;
    box-shadow: 0px 5px 10px #f4bbca;
    
}

.quesionnarie ,.additional {
    height: 485px;
    width: 580px;
    margin-left: 20px;
    margin-top: 20px;
    position: relative;
}



.quesionnarie p {
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
 
}

.layout,.layout2, .layout5{
   
    /* display: flex; */
    border-radius: 4px;
    width: 580px;
    margin-right: 0%;
   
}
.layout input{
    height: 26px;
}
.layout2 input{
    height: 62px ;
    
}

.form-description, .form-checkbox , .form-button{
    margin-top:20px;
}
.layout2 label{
   color:#333
}

small{
    padding-left: 10px;
}
.small p{
    letter-spacing: 0.4px; 
    color: rgba(0,0,0,0.6);
    margin-top: -40px;
    margin-left: 10px;
    font-size: 12px; 
    font-family: Roboto;
}

.form-button{
    /* border: 1px solid orangered; */
    height: 84px;
    width: 580px;
   
}

.layout3 , .layout4{
    width:280px;
    /* height: 56px; */
}

.layout3 input, .layout4 input{
    height: 26px;
}

.layout4{
   padding-left: 1.1rem;
}
.form-user{
    margin-top:35px;
}

/* Additional-details */
.additional{
    height:393px;
    margin-top: 37px;
}
.additional p{
    height: 24px;
    width: 161px;
    opacity: 0.87;
    color: #000000;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.15px;
    line-height: 24px;
}
.form-details{
    margin-top: 30px;
}
.box{
    height: 56px;
    width: 180px;
    position: relative;
}

.end, .reminder{
    margin-left: 20px;
}

 .date {
    position: absolute;
    font-size: 24px;
    margin-left: -26px;
    margin-top: -5px;
}

.file{
    width: 280px;
    margin-top: 45px;
}

.file input{
    height: 26px;
}

.sheet{
    margin-left:16px;
}

.mail{
width:580px;
margin-top:20px;
}

.mail input{
    height:70px;
}
.verticle{
    border-left: 2px solid #D92756;
    height:350px;
    left:71.5%;
    margin-top:-920px;
    position: absolute;
}
.side-opt{
    height: 351px;
    width: 230px;
    margin-left: 630px;
    margin-top:-920px
}
.side-btn{
    margin-top:0;
    width:200px;
    border-radius: 10px;
    margin-left:2rem;
    color: #D92756;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1.25px;
    padding-left:47.17px ;



}
.btn-height{
    margin-top: 15px;
}

.mat-icon{
    margin-left:-35px;
}

.addbtn{
    border-radius: 200%;
    width:51px;
    height:51px;
    box-shadow: 0px 5px 10px #f4bbca;
    cursor:pointer;

}

.addbtn .mat-icon{
    margin:auto;
}
.addbutton{
    margin-left:807px;
    margin-top:507px;
    padding-bottom: 25px;
}

.popbtn{
    height: 33.6px;
    width: 194.6px;
    background-color: #FDF4F6;
    color:#D92756;
    font-family: Roboto;
    font-size: 9.8px;
    font-weight: 500;
    letter-spacing: 0.88px;
    /* line-height: 11.2px; */
    text-align: center;
    margin-bottom:12px;
    box-shadow: 0px 5px 10px #f4bbca;
    cursor: pointer;
}   

.pop{
    /* border: #000 1px solid; */
    /* height: 170px; */
    /* width: 196px; */
    margin-left:-150px;
    margin-top:-245px;
    padding-top: 25px;

  
}

.close{
    margin:auto;
    margin-top:-0.75rem;
    
}

