<div class="container">
    <header class="header">
        <div class="officelogo">
        <img src="assets/Robosoft_logo_horizontal.png" height="54px" width="280px" alt="company logo"></div>
    </header>
    <div class="login"> 
        <div class="bg">
            <mat-card>
                <mat-card-title>Login</mat-card-title>
                    <mat-card-content>
                            <form name ="loginForm" [formGroup]="loginForm">
                                <div class="form-username">
                                    <mat-form-field class="layout" appearance ="outline" >
                                        <mat-label>Enter Username</mat-label>
                                          <input matInput formControlName="userName">     
                                    </mat-form-field>
                                </div>
                                <div class="form-password">
                                    <mat-form-field class="layout" appearance ="outline" floatLabel="never">
                                        <mat-label> Enter password</mat-label>
                                        <input matInput formControlName="password">
                                    </mat-form-field>
                                </div>
                                <img  src="assets/FAB.png" routerLink="/profile"/><br>
                                <span class="forgot-password"><p routerLink='/email' >Forgot Password?</p></span> 
                                
                            </form>
                    </mat-card-content>
            </mat-card>
            </div>
        </div> 
</div>
