<div class="container">
    <app-header></app-header>
       <div class="box">
        
        <mat-icon>close</mat-icon>
        <p class="title">Change Password</p>
        <form name ="changepassword" [formGroup]="changepassword">
        <mat-form-field class="field field-top" appearance="outline">
            <mat-label> Enter New Password</mat-label>
            <!-- <input matInput [(ngModel)]="enter" placeholder="Enter New Password"> -->
            <input matInput formControlName="enter" placeholder="Enter New Password">
        </mat-form-field>

        <mat-form-field class="field" appearance="outline">
            <mat-label> Re-Enter New Password</mat-label>
            <input matInput formControlName="reenter" placeholder="Re-Enter New Password">
        </mat-form-field>

       <div class="update-btn">
          <!-- <button routerLink="/profile" class="label"> Update</button> -->
          <button (click)="updatePassword()" class="label"> Update</button>
       </div>
    </form>
    </div>
    </div>
