<div class="container">
    <app-header></app-header>
       <div class="box">
        
        <mat-icon>close</mat-icon>
        <p class="title">Change Password</p>

        <mat-form-field class="field field-top" appearance="outline">
            <mat-label> Enter New Password</mat-label>
            <input matInput [(ngModel)]="enter" placeholder="Enter New Password">
        </mat-form-field>

        <mat-form-field class="field" appearance="outline">
            <mat-label> Re-Enter New Password</mat-label>
            <input matInput [(ngModel)]="reenter" placeholder="Re-Enter New Password">
        </mat-form-field>

       <div class="update-btn">
          <button routerLink="/profile" class="label"> Update</button>
       </div>

    </div>
    </div>
