<div class="container">
    <mat-icon class="close"mat-dialog-close>close</mat-icon>
    <div class="add">
    <p class="title">Add/Remove Super Admins</p>
</div>
     <form name="addadmin" [formGroup]="addadmin">
        <mat-form-field class="layout namelayout" appearance="outline">
            <input matInput formControlName="name" placeholder="Enter Name">
        </mat-form-field>

        <mat-form-field class="layout" appearance="outline">
            <input matInput formControlName="code" placeholder="Enter Employee Code">
        </mat-form-field>

        <mat-form-field class="maillayout" appearance="outline">
            <input matInput formControlName="mail" placeholder="Enter Mail ID">
        </mat-form-field>

        <div class="btn">
            <button mat-fab (click)="addAdmin()" >
              <mat-icon>add</mat-icon>
            </button>
          </div>

          <hr class="line">
          </form>
          
          <!-- <form >
          <ng-container *ngFor="let detail of empDetail" >
          <mat-form-field class="layout namelayout" appearance="outline">
              <input matInput formControlName= "name"  > 
              {{decrypt}}
              
            </mat-form-field>
    
            <mat-form-field class="layout" appearance="outline">
                <input matInput formControlName= "code" >
                {{detail.empcode}}
                
                
            </mat-form-field>
           

            <mat-form-field class="maillayout" appearance="outline">
                <input matInput formControlName= "email" > 
                {{detail.email}}
               
            </mat-form-field>


        <div class="btn">
            <button mat-fab >
              <mat-icon   (click)="edit(detail)"class="icon">edit</mat-icon>
              
            
            </button>
            <button mat-fab class="spacebwbtn" >
                <mat-icon (click)="deleteAdmin(detail)">delete</mat-icon>
                
                
              </button>
          </div>
        </ng-container>
          
        
        
        <div class="downbtn update">
            <button   class="label"  mat-dialog-close> Cancel</button>
            
        </div>
        <div class=" downbtn spacebtn">
            <button (click)='editAdmin()' class="label " > Update </button>
            
        </div> -->
    
          <!-- </form>  -->


    </div>