
.container{
  height: 100px;
  width: 1440px;
  opacity: 0.98;
  background-color: #FFFFFF;
  box-shadow: 0 1px 12px 0 rgba(0,0,0,0.14);
  margin-left: 10%;
  display: flex;

}
.navbar-logo{
    margin-left:130px;
    margin-right:1030px;
    margin-top:25px;
}
.profile img{

  box-sizing: border-box;
  height: 44px;
  width: 44px;
  border: 2px solid #D92756;
  border-radius: 100%;
  /* margin-left: 1266px; */
  margin-top: 25px;
  
}
 .profile {
    margin-left: -18.5%;
     display: flex;
  
    
}

  .p{
    /* margin-left: 200%;
    padding-left: 335%; */
    margin-top: 36px;
    opacity: 0.87;
    color: #000000;
    font-family: Roboto;
    font-size: 16px;
    margin-right:40px;
  }